{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Takari Cooking</title>
	<link rel="icon" href="{% static 'img/Fevicon.png' %}" type="image/png">

  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/Magnific-Popup/magnific-popup.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<style>
  .col-lg-6 img
  {
    width: 160px;
    height: 100px;
    object-fit: cover;
  }
  
  .nm{
    padding-left: 20%;
  }
  .row{
    width: 100%;
  }
  .col-lg-6{
    width: 50%;
  }
  
</style>
  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="index"><h3>TAKARI COOKING</h3></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item"><a class="nav-link" href="index">Home</a></li> 
               
              <li class="nav-item"><a class="nav-link" href="menu">Menu</a></li>
              <li class="nav-item"><a class="nav-link" href="about">About</a></li>
              {% if masuk == True %}
                <li class="nav-item"><a class="nav-link" href="profil">{{user.username}}</a></li>
                <li class="nav-item"><a class="nav-link" href="user_logout">Logout</a></li>
              {% else %}
                <li class="nav-item"><a href="register" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="user_login" class="nav-link">Login</a></li>
              {% endif %}
            </ul>
            
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


{% block content %}
{% endblock %}
  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container">
      <div class="row">
        
        <div class="col-xl-4 col-md-8 mb-4 mb-xl-0 single-footer-widget">
          <h4><a href="index">Home</a></h4>
        </div>
        <div class="col-xl-4 col-sm-8 mb-4 mb-xl-0 single-footer-widget">
          <h4><a href="menu">Menu Search</a></h4>
        </div>
        <div class="col-xl-4 col-sm-8 mb-4 mb-xl-0 single-footer-widget">
          <h4><a href="user_login">Login</a></h4>
        </div>
        <div class="col-xl-4 col-sm-8 mb-4 mb-xl-0 single-footer-widget">
          <h4><a href="about">About</a></h4>
        </div>
        
        
        
      </div>
      <div class="footer-bottom row align-items-center text-center text-lg-left">
        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
          <a href="#"><i class="ti-facebook"></i></a>
          <a href="#"><i class="ti-twitter-alt"></i></a>
          <a href="#"><i class="ti-dribbble"></i></a>
          <a href="#"><i class="ti-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->

  <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendors/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'vendors/Magnific-Popup/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'js/mail-script.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>